.road__logo {
  margin: 0;
}

.road__logoimg {
  position: relative;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 90vh;
  margin: 0 0 .5vw;
}

.road__caption {
  font-size: 8vw;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  text-align: center;
  margin-bottom: 15vw;
}