.header {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: -50vh;
  @media (max-width: 768px) {
    margin-top: -100vh;
  }
}

.header__text {
  position: relative;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-top: -2em;

  @media (min-width: 768px) {
    width: 80%;
  }
}

.header__more {
  display: inline-block;
  font-size: 5vw;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
  margin: 0 0 -.2em;
  padding: 0.6em 0.5em;
  color: black;
  background: white;
  text-decoration: none;
  transition: .1s ease;

  @media (min-width: 768px) {
    font-size: 3vw;
    margin: 0 0 -.1em;

    &:hover {
      letter-spacing: .2em;
      margin: 0 -.1em -.1em;
    }
  }

  text-transform: uppercase;
}
