.ecosystem {
  position: relative;
  overflow: hidden;
  padding-top: 20%;
  padding-bottom: 20%;
  margin-top: -20%;
  margin-bottom: -20%;
  background-image: url(./ecosystem-bg.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.ecosystem__logo {
  overflow: hidden;
  z-index: 1;
  height: 90vh;
  margin: 0 auto 0.5vw;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .ecosystem {
    padding-top: 40%;
    padding-bottom: 40%;
    margin-top: -40%;
    margin-bottom: -40%;
  }
}
