@import "./tally-widget.css";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Martian Mono", "Iset Sans", monospace;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a,
input,
button {
  color: white;

  &:focus {
    outline: 3px solid white;
  }

  &:not(:focus-visible):focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
