.preview {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.preview__graphics {
  height: 300vh;
  pointer-events: none;
}

@media (orientation: portrait) {
  .preview__graphics {
    /* Align the logo to the vertical center in browsers without `svh` unit support */
    margin-top: -15vh;
  }

  @supports (height: 1svh) {
    .preview__graphics {
      display: inline-block;
      margin-top: 0;
      height: 300dvh;
    }
  }
}

.preview__graphics circle {
  transform: translateZ(0);
}

.preview__scroller {
  transform: translateZ(0);
  transform-origin: 50% 50vh;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: .9s;
  animation-delay: .15s; /* Prevent layout shift on page loading */
  animation-timing-function: cubic-bezier(0, 0.75, 0.25, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
