.header {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: -125vh;
}

.headline {
  color: #00f000;
  font-size: 7.5vw;
  font-weight: 500;
  margin: 15vw 0 1vw;
}

.header__text {
  text-align: center;
}

.header__text p {
  position: relative;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  /* margin-top: 8vw; */
  font-size: 6.5vw;
  line-height: 1.2;
}

.emoji {
  font-size: 10vw;
}

@media (min-width: 768px) {
  .header__text p {
    width: auto;
    font-size: 4vw;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.2;
  }

	.headline {
	  font-size: 6vw;
	}

	.emoji {
		font-size: 5vw;
	}
}

@media (max-width: 768px) {
  .header {
    margin-top: -200vh;
  }

  .header__text {
    width: 100%;
  }
}
