.preview {
  position: relative;
}

.preview__graphics {
  height: 300vh;
  pointer-events: none;
}

.preview__graphics circle {
  transform: translateZ(0);
}

.preview__scroller {
  transform: translateZ(0);
  transform-origin: 50% 50vh;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: .9s;
  animation-delay: .1s; /* Prevent layout shift on page loading */
  animation-timing-function: cubic-bezier(0, 0.75, 0.25, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
