.footer {
  z-index: 1;
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: footer-fadein 2s cubic-bezier(0.25, 0.85, 0.7, 0.75) forwards;
  opacity: 0;
}

@keyframes footer-fadein {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footerlinks {
  display: flex;
  padding: 16px 32px 12px 28px;
  column-gap: 32px;
  transition: all 0.15s ease;
  background-color: #000;
  border-radius: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 768px) {
  .footerlinks {
    margin-bottom: 8px;
  }
}

.footerlinks__item {
  transition: all 0.15s ease;
}

.footerlinks__item:hover {
  transform: scale(1.15);
}

.footerlinks__image {
  height: 42px;
  width: 42px;
}

.footerAction {
  padding: 24px 48px;
  border-radius: 10vw;
  background-color: #ffd400;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  line-height: 1.4;
  transition: all 0.15s ease;
}

.footerAction:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 900px) {
  .footerlinks {
    display: none;
  }

  .footer {
    right: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    bottom: 24px;
  }

  .footerlinks {
    background-color: none;
    padding: 0;
  }

  .footerlinks__item {
    display: none;
  }

  .footerAction {
    padding: 16px 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    bottom: 8px;
  }
}
