body {
  font-family: "Iset Sans", monospace;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a,
input,
button {
  color: white;
  
  &:focus {
    outline: 3px solid white;
  }

  &:not(:focus-visible):focus {
    outline: none;
  }
}

h1 {
  line-height: 1.3;
  overflow: hidden;
  display: block;
  padding: 0.2em 0.2em;
  font-size: 6vw;
  font-weight: 900;
}

p {
  font-size: 5.5vw;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  display: block;
  padding: 0.6em 0.2em;
  color: white;

  @media (min-width: 768px) {
    font-size: 4vw;
    margin-left: 10%;
    margin-right: 10%;
  }
}

ul {
  font-size: 3vw;
  list-style: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5;
}

ul li {
  font-style: italic;
  margin-bottom: 2vw;
}

details {
  border: 2px solid white;
  border-radius: 6px;

  & summary {
    position: relative;
    cursor: pointer;
    background: white;
    color: black;
    list-style: none;
    padding: 0.2em 0.8em;
    transition: 0.1s opacity;

    &:active {
      opacity: 0.5;
    }

    &::before,
    &::after {
      width: 14px;
      height: 3px;
      position: absolute;
      top: 50%;
      right: 0.6em;
      content: "";
      background-color: currentColor;
      text-align: right;
      transform: translateY(-50%);
      transition: transform 0.2s ease-in-out;

      @media (min-width: 768px) {
        width: 1em;
        height: .125em;
      }
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    & summary {
      color: white;
      background: black;
    }
    
    & summary::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
