.page {
  font-size: 5vw;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.page__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.2vw;
  color: rgb(255,212,0);
  letter-spacing: .1em;
}