.page {
  margin: 0 auto;
  padding: 0 4vw;
  padding-bottom: 20px;
  font-size: 5vw;

  & h2 {
    display: block;
    overflow: hidden;
    margin-top: 6vh;
    margin-bottom: 15vw;
    padding: 0.2em 0.2em;
    color: white;
    font-weight: 600;
    font-size: 11vw;
    line-height: 1.05;
    text-align: center;
  }

  & h3 {
    margin: 1em 0 0.25em 0.1em;
    color: #ffd400;
    font-weight: 500;
  }

  & p {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0.4em 0.2em;
    color: white;
    font-weight: 300;
    line-height: 1.4;

    & a {
      box-shadow: 0 2px 0 0 rgba(255, 255, 255, .3);
    }

    &.investors {
      width: 85%;
      color: #ffd400;
      border: solid 2px #ffd400;
      border-radius: 12px;
      margin: .5em .25em;
      padding: .5em .75em;
    }

    &.final {
      font-size: 135%;
      font-weight: 500;
      line-height: 1.2;
      margin-top: 5vw;
    }
  }
}

.email__wrap {
  margin: 24vh 6vw 12vh;
}

.email {
  color: #ffd400;
  font-size: 5vw;
  font-weight: 500;
  opacity: .3;
  box-shadow: 0 2px 0 0 rgba(255, 212, 0, .5);
  transition: all 0.15s cubic-bezier(0.52, 0.51, 0.39, 0.99);
}

@media (min-width: 768px) {
  .page {
    width: 60%;
    padding: 0;
    font-size: 2.25vw;
    padding-bottom: 60px;

    & h2 {
      font-size: 8vw;
      margin-top: 2vw;
    }

    & p {
      & a {
        box-shadow: 0 4px 0 0 rgba(255, 255, 255, .3);
        &:hover {
          color: #ffd400;
          box-shadow: 0 3px 0 0 rgba(255, 212, 0, 1);
        }
      }

      &.investors {
        border: solid 4px #ffd400;
        border-radius: 16px;
      }

      &.final {
        font-size: 150%;
        margin-top: 20vw;
        text-align: center;
      }
    }
  }

  .email__wrap {
    text-align: center;
    margin: 16vw 0 8vw;
  }

  .email {
    font-size: 2.5vw;
    box-shadow: 0 4px 0 0 rgba(255, 212, 0, .5);
    &:hover {
      opacity: 1;
      box-shadow: 0 4px 0 0 rgba(255, 212, 0, 0.6);
    }
  }
}
