.page {
  font-size: 5vw;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .page {
    font-size: 2.25vw;

  }
}

.page__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(255,212,0);
  letter-spacing: .1em;
}
