.mainaction {
  display: block;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  padding: 0.75em 3.5vw;
  margin: 60vh 4vw 65vh;
  border-radius: 20vw;
  color: #fff;
  text-decoration: none;
  transition: all 0.15s cubic-bezier(0.52, 0.51, 0.39, 0.99);
  background-color: #ffd400;
  font-size: 7vw;
  font-weight: 500;
  box-shadow: 0 0.1vw 0 0 rgba(255, 255, 255, 0.25) inset,
    0 1.25vw 0 -0.1vw rgba(255, 212, 0, 0.5),
    0 1.25vw 0 0.01vw rgba(0, 0, 0, 0.15);
  transform: translateY(-1.25vw);
  padding: 3vw 0 4.5vw;
  mix-blend-mode: lighten;
}

.mainactionFooter {
  font-size: 10vw;
  margin: 0 4vw;
  overflow: visible;
}

.rocket {
  display: inline-block;
  transform: translate(0%, 0%) scale(1);
  transition: all 0.15s cubic-bezier(0.52, 0.51, 0.39, 0.99);
}

@media (hover: hover) {
  .mainaction:hover {
    box-shadow: 0 0.1vw 0 0 rgba(255, 255, 255, 0.25) inset,
      0 0.75vw 0 -0.1vw rgba(255, 212, 0, 0.5),
      0 0.75vw 0 0.01vw rgba(0, 0, 0, 0.15),
      0 1vw 0 100vw rgba(255, 212, 0, 0.95);
    transform: translateY(-0.75vw);
  }
  .mainactionFooter:hover {
    box-shadow: 0 0.1vw 0 0 rgba(255, 255, 255, 0.25) inset,
      0 0.75vw 0 -0.1vw rgba(255, 212, 0, 0.5),
      0 0.75vw 0 0.01vw rgba(0, 0, 0, 0.15), 0 1vw 0 100vw rgba(0, 180, 255, 1);
    transform: translateY(-0.75vw);

    .rocket {
      transform: translate(50%, -50%) scale(1.5);
    }
  }
}

@media (min-width: 768px) {
  .mainaction {
    font-size: 6vw;
  }
  .mainactionFooter {
    font-size: 8vw;
    margin: 4vh 8vw;
  }
}
