:root {
  --mondrian-item-size: 4vmax;
  --mondrian-border-width: 4px;
  --mondrian-black: black;
  --mondrian-green: #00b401;
  --mondrian-yellow: #ffd400;
  --mondrian-blue: #00b4ff;
}

.logo {
  position: relative;
  width: 100%;
  height: 85vh;
  text-align: center;
  animation: mondrianFadeIn 1s ease;

  @media (min-width: 768px) {
    height: 80vh;
  }
}

.logo__image {
  position: absolute;
  display: inline-block;
  top: 45%;
  left: 50%;
  max-width: 55vw;
  max-height: 55vw;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  background: url(./logo.svg) no-repeat center;
  background-size: contain;
  border: 0;
  transform-origin: 50% 50%;
  border-radius: 8px;

  @media (min-width: 768px) {
    max-width: 25vw;
    max-height: 25vw;
  }
}

.logo__mondrian {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: dense;
  gap: var(--mondrian-border-width);
  grid-auto-columns: var(--mondrian-item-size);
  grid-auto-rows: var(--mondrian-item-size);
  grid-auto-flow: dense;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--mondrian-item-size), 1fr)
  );
  grid-template-rows: repeat(auto-fit, minmax(var(--mondrian-item-size), 1fr));
  border: var(--mondrian-border-width) solid var(--mondrian-black);
  pointer-events: none;
  box-sizing: border-box;
  transform-origin: 100% 100%;
  transform: translateZ(0);
}

.logo__mondrian-item {
  transform: transalteZ(0);
  animation: mondrianItemFadeIn .2s linear;
}

.logo__mondrian-item_black {
  background-color: var(--mondrian-black);
}

.logo__mondrian-item_green {
  background-color: var(--mondrian-green);
}

.logo__mondrian-item_yellow {
  background-color: var(--mondrian-yellow);
}

.logo__mondrian-item_blue {
  background-color: var(--mondrian-blue);
}

@keyframes mondrianFadeIn {
  0% {
    opacity: 0;
    transform: scale(.75);
  }

  50% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes mondrianItemFadeIn {
  0% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
