:root {
  --mondrian-item-size: 5vw;
  --mondrian-border-width: .4vw;
  --mondrian-black: black;
  --mondrian-green: #00b401;
  --mondrian-yellow: #ffd400;
  --mondrian-blue: #00b4ff;
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo__image {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  max-width: 55vw;
  max-height: 55vw;
  width: 700px;
  height: 700px;
  transform: translate(-50%, -50%);
  transition: .1s;
  background: url(./logo.svg) no-repeat center;
  background-size: contain;
  border: 0;
  cursor: pointer;
  transform-origin: 50% 50%;
  border-radius: 8px;

  &:active {
    transform: translate(-50%, -50%) scale(1.1);
  }

  @media (hover) {
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }

    &:active {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @media (min-width: 768px) {
    max-width: 25vw;
    max-height: 25vw;
  }
}

.logo__mondrian {
    position: relative;
    z-index: -1;
  display: grid;
  width: 100vmax;
  height: 50vmax;
  gap: var(--mondrian-border-width);
  grid-auto-columns: var(--mondrian-item-size);
  grid-auto-rows: var(--mondrian-item-size);
  grid-auto-flow: dense;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--mondrian-item-size), 1fr)
  );
  grid-template-rows: repeat(auto-fit, minmax(var(--mondrian-item-size), 1fr));
  background-color: var(--mondrian-black);
  border: var(--mondrian-border-width) solid var(--mondrian-black);
  overflow: clip;
  pointer-events: none;
  box-sizing: border-box;
  transform-origin: 50% -50%;
  transform: rotate(45deg) translateZ(0);
}

.logo__mondrian-item_black {
  background-color: var(--mondrian-black);
}

.logo__mondrian-item_green {
  background-color: var(--mondrian-green);
}

.logo__mondrian-item_yellow {
  background-color: var(--mondrian-yellow);
}

.logo__mondrian-item_blue {
  background-color: var(--mondrian-blue);
}
